
body {
  margin: 0;
}
.custom-navbar {
  background-color: #ff6b35;
  padding: 15px 30px;
}

.logo {
  color: white !important;
  font-size: 28px;
  font-weight: bold;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffe0d1 !important;
}

.login-btn,
.signup-btn {
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 500;
}
.custom-navbar {
  width: 90%;
  margin: 20px auto;
  border-radius: 12px;
  background-color: #ff6b35;
  padding: 15px 30px;
}
.footer {
  background-color: #212529;
  color: white;
  padding: 40px 20px 20px;
  width: 100%;
  /* margin:  50px auto 0 auto; */
  background-color: #212529;
}


.footer-logo {
  font-size: 28px;
  font-weight: bold;
}

.footer-text {
  margin-top: 10px;
  color: #d1d1d1;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #d1d1d1;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.copyright {
  margin-top: 10px;
  color: #bdbdbd;
  font-size: 14px;
}
.order-modal {
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}

.order-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.order-modal .form-control {
  border-radius: 10px;
  padding: 10px;
}

.order-modal .form-control:focus {
  box-shadow: none;
  border: 2px solid #ffc107;
}

.order-modal textarea {
  resize: none;
}